/* Reset default styles */
html, body {
  margin: 0;
  padding: 0;
}

/* Set background image and darken it */
body {
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.7); /* Darken the background */
  color: #fff;
  font-family: Arial, sans-serif;
  font-weight: bold;
  line-height: 1.5;
  padding: 20px;
}

/* Adjust header styles */
header {
  margin-bottom: 20px;
  text-align: right; /* Align the navigation to the right */
}

header ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

header ul li {
  display: inline;
  margin-right: 10px;
}

header ul li a {
  color: #fff;
  text-decoration: none;
}

/* Justify align the main content */
main {
  text-align: justify;
}

/* Style the About and Call to Action buttons */
.about-button,
.cta-button {
  display: block;
  margin: 0 auto; /* Center align the buttons */
  background-color: #ffffff;
  color: #000000;
  padding: 20px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  transition: background-color 0.3s ease;
  text-align: center;
}

/* Style the Cup of Mind heading */
h1 {
  font-size: 36px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a shadow effect to the heading */
  text-align: center; /* Center align the heading */
}

/* Position the footer */
footer {
  position: relative;
  margin-top: 20px;
}
