/* Reset */
body {
    margin: 0;
    padding: 0;
  }
  
  /* Header */
  header {
    background-color: #f7f7f7;
    padding: 20px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border: 1px solid #333;
    border-radius: 3px;
  }
  
  /* Main */
  main {
    margin: 50px;
  }
  
  h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
  }
  
  /* Footer */
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f7f7f7;
    color: #666;
    text-align: center;
  }
  